
@model comic_book_gallery.Models.ComicBook[]

@{
    ViewBag.Title = "Comic Books";
}

<h2>@ViewBag.Title</h2>


<div class="row">
    @foreach (var ComicBook in Model)
    {
        <div class="col-md-3">
            <h4>@Html.ActionLink(ComicBook.DisplayText, "Detail", new { id = ComicBook.Id })</h4>
            <a href="@Url.Action("Detail", new {id = ComicBook.Id})">
                <img src="/Images/@ComicBook.CoverImageFilename"
                     alt="@ComicBook.DisplayText"
                     class="img-responsive" />
            </a>
        </div>
    }
    
</div>

